@page "/censoescola"
@page "/censoescola/{text}"

@using API.SQL.Models
@inject Data.CensoEscolasService CEService

<h1>CensoEscola</h1>

@if (censosEscolas == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Nome da Entidade</th>
				<th>Ano</th>
				<th>Telefone</th>
				<th>Email</th>
				<th>Rede</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var modelItem in censosEscolas)
			{
				<tr>
					<td>escola.nome</td>
					<td>@modelItem.Ano</td>
					<td>telefone</td>
					<td>email</td>
					<td>@modelItem.Rede</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	API.SQL.Models.CensoEscola[] censosEscolas;
	[Parameter]
	public string Text { get; set; }

	protected override async Task OnInitializedAsync()
	{
		censosEscolas = await CEService.GetAsync(Text);
	}

	private void getEscolaName(string codEscola,string ano)
	{	

	}
}
