@page "/escola"

@using API.SQL.Models
@inject Data.EscolasService EService
@inject NavigationManager nm

<h1>CensoEscola</h1>

@if (escolas == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Codigo da Entidade</th>
				<th>Nome da Entidade</th>
				<th>Região</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var modelItem in escolas)
			{
				<tr>
					<td>@modelItem.CodEntidade</td>
					<td>@modelItem.Nome</td>
					<th>@modelItem.CodEnderecoNavigation.CodMunicipioNavigation.CodEstadoNavigation.CodRegiaoNavigation.NomeRegiao</th>
					<td><button class="btn btn-primary" @onclick="@(e => NavigateToCensoEscola(modelItem.CodEntidade.ToString()))">Details</button></td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	API.SQL.Models.Escola[] escolas;

	protected override async Task OnInitializedAsync()
	{
		escolas = await EService.GetAsync();
	}

	private void NavigateToCensoEscola(string text)
	{
		nm.NavigateTo("CensoEscola/{text}");
	}
}
